@import '../abstracts/mixin';
@import '../abstracts/variable';

.back_line {
    z-index: 0;
    position: absolute;
    background-color: rgba(232, 78, 54, 0.5);
    top: -38vh;
    right: 50vh;
    width: 200px;
    height: 169vh;
    rotate: 45deg;

    @include mobile {
        top: -16vh;
        right: 23vh;
        width: 110px;
        height: 107vh;
    }
}