@import './button';

.btn{
    @extend button;
    z-index: 2;
    position: absolute;
    top: 12px;
    left: 10px;
    &:active {
        .nightMode{

            transform: rotate(180deg);
        }
        }
}

.nightMode{
    width: 45px;
    height: auto;
    
}
.dayMode{
    @extend .nightMode;
}
