$primary-color: #E94D35;
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');